In [78]:
import sys
import os

sys.path.insert(0, r"C:\Users\Yarden\Computer Science\Masters\1\Advance Machine Learning\final project\src")

In [79]:
from pathlib import Path
import numpy as np

In [80]:
root_path = Path(r"..\..\..\.")
data_path = root_path / "data"
models_path = root_path / "models"

In [81]:
data_set_name = "PenDigits"

In [91]:
import pandas as pd
train = pd.read_csv(r"C:\Users\Yarden\Computer Science\Masters\1\Advance Machine Learning\final project\mts_dataset\PenDigits\PenDigits_TRAIN", header=None, sep='\t')
test = pd.read_csv(r"C:\Users\Yarden\Computer Science\Masters\1\Advance Machine Learning\final project\mts_dataset\PenDigits\PenDigits_TEST", header=None, sep='\t')

# train.set_index(0, inplace=True)
# test.set_index(0, inplace=True)

In [92]:
train

        0  1  2    3    4
0       1  1  7    0   98
1       1  2  7   36  100
2       1  3  7   80   85
3       1  4  7   68   42
4       1  5  7   56    0
...   ... .. ..  ...  ...
2395  300  4  8  100   18
2396  300  5  8   16    0
2397  300  6  8    0   33
2398  300  7  8   36   68
2399  300  8  8   48  100

[2400 rows x 5 columns]

In [107]:
train_labels = train[[0, 2]]
test_labels = test[[0, 2]]

In [94]:
train_features = train.loc[:, [3, 4]]
test_features = test.loc[:, [3, 4]]

In [105]:
X_train = train_features.values.reshape(train[0].nunique(), -1, 2)
X_test = test_features.values.reshape(test[0].nunique(), -1, 2)

In [98]:
X_train.shape

(300, 8, 2)

In [99]:
X_test.shape

(10692, 8, 2)

In [118]:
y_train = train_labels.groupby(0).first().values.reshape(train[0].nunique(), )
y_test = test_labels.groupby(0).first().values.reshape(test[0].nunique(), )

In [119]:
def save_numpy_array(data_set_name: str,
                    X_train: np.ndarray,
                    X_test: np.ndarray,
                    y_train: np.ndarray,
                    y_test: np.ndarray):
    path = data_path / data_set_name
    
    np.save(path / "X_train.npy", X_train)
    np.save(path / "X_test.npy", X_test)
    np.save(path / "y_train.npy", y_train)
    np.save(path / "y_test.npy", y_test)

def load_numpy_array(data_set_name: str):
    path = data_path / data_set_name
    
    X_train = np.load(path / "X_train.npy")
    X_test = np.load(path / "X_test.npy")
    y_train = np.load(path / "y_train.npy")
    y_test = np.load(path / "y_test.npy")
    
    return X_train, X_test, y_train, y_test

In [120]:
save_numpy_array(data_set_name, X_train, X_test, y_train, y_test)

# ====

In [133]:
import pickle

with open(models_path / "other"/ "arabic", 'rb') as fis:
    model_params = pickle.load(fis)

In [135]:
model_params[0].similarity_function

{'rbf'}